{% extends 'base.html' %}


{% block content %}
<h1>Closed Cases</h1>

<div class="accordion" id="case-accordion">
  {% for case in cases %}
  <div class="accordion-item">
    <h2 class="accordion-header" id={{'headignCase' ~ case.case_id}}>
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target={{'#collapseCase' ~ case.case_id}} aria-expanded="true"
        aria-controls={{'collapseCase' ~ case.case_id}}>

        {% if case.test_result.strip() == 'negativ' %}
        {{case.last_name.strip() +", " + case.first_name.strip() + ", " + case.test_result}}
        {% else %}
        {{case.last_name.strip() +", " + case.first_name.strip() + ", End Date: " ~ case.q_end_date}}
        {% endif %}
      </button>
    </h2>
    <div id={{'collapseCase' ~ case.case_id}} class="accordion-collapse collapse"
      aria-labelledby={{'headignCase' ~ case.case_id}} data-bs-parent="#case-accordion">
      <div class="accordion-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                {{case.last_name + ", " + case.first_name}}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{"Birth Date: " ~ case.birth_date}}</li>
                <li class="list-group-item">{{"Address: " ~ case.address}}</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
              <div class="card-header">Case</div>
              <ul class="list-group list-group-flush">
                {% if case.q_start_date %}
                <li class="list-group-item">{{"Quarantine since: " ~ case.q_start_date}}</li>
                <li class="list-group-item">{{"Quarantine to: " ~ case.q_end_date}}</li>
                <li class="list-group-item">{{"Test date: " ~ case.test_date}}</li>
                {% else %}
                <li class="list-group-item">Negative Test</li>
                <li class="list-group-item">{{"Test date: " ~ case.test_date }}</li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}