{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}


{% block content %}
<h1>Recent cases</h1>
<canvas id="myChart"></canvas>
{% endblock content %}


{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"
  integrity="sha512-/n/dTQBO8lHzqqgAQvy0ukBQ0qLmGzxKhn8xKrz4cn7XJkZzy+fAtzjnOQd5w55h4k1kUC+8oIe6WmrGUYwODA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"
  integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock script %}